.header {
  background-image: url(../Images/background.jpg.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    background-color: #555;
    text-align: center;
    padding:0;
    overflow: auto;
    margin: 10px;
    width: 15.4%;
    height: 5.8%; /* Full height */
   
}
li a
{
    float: left;
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
  width:36px;
  padding: 9px 16px;
  display:block;

}
li a.active {
    background-color: black;
    
}
li a:hover {
    background-color: black;
} 
  .logo img{
    float:left;
    height:auto;
    width:150px;
}
.title
{
    padding:250px;
    text-align:center;
    font-size: xx-large;
}
